html {
    height: 100%;
    margin: 0;
    background: url("../image/phone_background.jpg") no-repeat center;
    background-size: cover;
}

body {
    background-color: rgba(255, 255, 255, 0.78);
    height: 100%;
    margin: 0;
}

.main-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.main-form .login-form-heading,
.main-form .checkbox {
    margin-bottom: 10px;
}
.main-form .checkbox {
    font-weight: normal;
}
.main-form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.main-form .form-control:focus {
    z-index: 2;
}
.main-form input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.main-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}