<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Serwisowanie Online</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"/>
    <link href="/style/styles.css" th:href="@{/style/styles.css}" rel="stylesheet" media="screen"/>
    <th:block th:insert="~{fragments/common.html :: header}"/>
</head>
<body>
<div>

    <h1 class="login-form-heading text-center" style="padding-top: 100px">Formularz niedostępny</h1>
</div>
</body>
</html>