<form name="start">
    <div class="form-group">
        <label for="customerName">Customer name</label>
        <input required
               class="form-control"
               cam-variable-type="String"
               cam-variable-name="customerName"
               name="customerName"/>
    </div>
    <div class="form-group">
        <label for="customerSurname">Customer surname</label>
        <input required
               class="form-control"
               cam-variable-type="String"
               cam-variable-name="customerSurname"
               name="customerSurname"/>
    </div>
    <div class="form-group">
        <label for="customerEmail">Customer email</label>
        <input class="form-control"
               required
               cam-variable-type="String"
               cam-variable-name="customerEmail"
               ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
               name="customerEmail"/>
        <p ng-if="variablesForm.customerEmail.$invalid" style="color: red">
            Invalid email!
        </p>
    </div>
    <div class="form-group">
        <label for="dateOfWarrantyClaim">Date of the warranty claim</label>
        <input class="form-control"
               cam-variable-type="Date"
               required
               cam-variable-name="dateOfWarrantyClaim"
               datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
               is-open="dateFieldOpened"
               name="dateOfWarrantyClaim"/>
        <span class="input-group-btn">
    <button type="button"
            class="btn btn-default"
            ng-click="open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
    </div>
    <div class="form-group">
        <label for="phoneIMEI">Phone IMEI</label>
        <input class="form-control"
               required
               cam-variable-type="String"
               cam-variable-name="phoneImei"
               name="phoneImei"/>
    </div>
    <div class="form-group">
        <label for="phoneBrand">Brand</label>
        <input class="form-control"
               required
               cam-variable-type="String"
               cam-variable-name="phoneBrand"
               name="phoneBrand"/>
    </div>
    <div class="form-group">
        <label for="phoneModel">Model</label>
        <input class="form-control"
               required
               cam-variable-type="String"
               cam-variable-name="phoneModel"
               name="phoneModel"/>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control"
                  required
                  cam-variable-type="String"
                  cam-variable-name="description"
                  name="description"></textarea>
    </div>

    <script cam-script type="text/form-script">
  $scope.open = function($event) {
    $event.preventDefault();
    $event.stopPropagation();

    $scope.dateFieldOpened = true;
  };






    </script>
</form>